<% if @results %>
  <% @results["results"].each do |result| %>
    <div class="card">
      <div class="card-header">
        <%= result["title"] %>
      </div>
      <div class="card-body">
        <p class="card-text">
          <div class="row">
            <div class="col-2">
              <%= image_tag result["thumbnail"], height: 50, width: 50 %>
            </div>
            <div class="col-10">
              <%= result["ingredients"] %>
            </div>
          </div>
        </p>
        <a href="<%= result["href"] %>" target="_blank" class="btn btn-primary">Go to recipe</a>
      </div>
    </div>
    <br />
  <% end %>

<% else %>
  No results.
<% end %>
