<br />
<div class="input-group mb-3">
  <%= text_field_tag 'search', params[:search], placeholder: 'Search for...', class: 'form-control' %>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
  </div>
</div>

<div class="results">
  <%= render 'results' %>
</div>

